<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wichteln</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%= locals.name %>

    <!-- Link the JavaScript file -->
    <script src="/js/script.js"></script>
</body>
</html>