<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wichteln</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Gruppen-Dashboard</h1>
    </header>
    <main>
        <h2>Teilnehmer</h2>
        <p>Klicke auf deinen Namen, um herauszufinden, wen du beschenken darfst.</p>
        <ul class="user_list">
            <% group.users.forEach(user => { %>
                <button class="group_user" name="<%= user %>"><%= user %></button>
            <% }) %>
        </ul>
    </main>
    <footer>
        <p>Wichteln</p>
        <a href="impressum.html">Impressum</a>
        <a href="datenschutz.html">Datenschutz</a>
    </footer>

    <!-- Link the JavaScript file -->
    <script src="/js/script.js"></script>
</body>
</html>