<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wichteln</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <input type="text" class="see_group_info_code">
        <button type="Submit" class="see_group_info_btn">Bestätigen</button>
    </div>

    <!-- Link the JavaScript file -->
    <script src="/js/script.js"></script>
</body>
</html>