<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wichteln</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1 class="header_text">Neue Wichtel Gruppe erstellen</h1>
        <p class="header_info">Erstelle eine neue Wichtel Gruppe und füge alle Teilnehmer hinzu</p>
    </header>
    <main>
        <div class="create">
            <label class="new_user_container">
                <input type="text" class="newUserName" placeholder="Name des Teilnehmers...">
                <button class="add_user_btn">+</button>
            </label>
            <ul class="new_user_list"></ul>
            <button class="submit_new_group_btn">Erstellen</button>
        </div>
    </main>
    <!-- Link the JavaScript file -->
    <script src="/js/script.js"></script>
</body>
</html>