<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wichteln</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="new_group_form">
        <h1>Neue Wichtel Gruppe erstellen.</h1>
        <h2>Teilnehmer</h2>
        <input type="text" class="newUserName" placeholder="Name des teilnehmers...">
        <button class="add_user_btn">Hinzufügen</button>
        <ul class="user_list"></ul>

        <h2>Ausnahmen</h2>
        <div class="exclusions"></div>

        <button class="submit_new_group_btn">Erstellen</button>
    </div>

    <!-- Link the JavaScript file -->
    <script src="/js/script.js"></script>
</body>
</html>