<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wichteln</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Neue Wichtel Gruppe erstellen</h1>
    </header>
    <main>
        <div class="create">
            <h2>Teilnehmer</h2>
            <label>
                <input type="text" class="newUserName" placeholder="Name des Teilnehmers...">
            </label>
            <button class="add_user_btn">Hinzufügen</button>
            <ul class="user_list"></ul>
            <h2>Ausnahmen</h2>
            <div class="exclusions"></div>
            <button class="submit_new_group_btn">Erstellen</button>
        </div>
    </main>
    <footer>
        <p>Wichteln</p>
        <a href="impressum.html">Impressum</a>
        <a href="datenschutz.html">Datenschutz</a>
    </footer>

    <!-- Link the JavaScript file -->
    <script src="/js/script.js"></script>
</body>
</html>