* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Ensure padding and border don't affect width */
    overflow: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    background: lightcoral;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%; /* Ensure full width */
}

main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc(100vh - 80px - 60px);
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure it takes full width */
}

.create {
    font-size: 2rem;
    text-align: left;
}

.new_user_container {
    margin-top: 5px;
}

.newUserName {
    height: 40px;
    margin-left: 2.5%;
    width: 75%;
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
    border: none;
    cursor: pointer;
}

.add_user_btn {
    height: 40px;
    margin-left: 2.5%;
    width: 15%;
    border-radius: 10px;
    font-size: 1.05rem;
    color: white;
    border: none;
    cursor: pointer;
}

header {
    background: #c0392b;
    height: 60px;
    color: white;
    padding: 20px;
    box-shadow: #333333 0 0 30px 0;
    width: 100%; /* Ensure header takes full width */
}

.header_text {
    transform: translateY(-50%);
    font-size: 1.2rem;
}

.header_info {
    font-size: 0.6rem;
    transform: translateY(-100%);
}

.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure it takes full width */
}

.join_group_input {
    height: 60px;
    width: 90%;
    border-radius: 10px;
    align-items: center;
    font-size: 2rem;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 800px;
}

.group_users {
    margin-top: 5px;
    color: #f9f3e9;
    font-size: 1.4rem;
}

.group_user {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 90%;
    font-size: 3rem;
}

.group_users_tip {
    color: #f9f3e9;
    font-size: 1rem;
    margin: 5px 20px 20px;
}

.submit_new_group_btn {
    transform: translateX(-50%);
    margin-top: 10px;
    margin-left: 50%;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.pair_info_tip {
    color: #f9f3e9;
    font-size: 1.2rem;
}

.pair_info {
    color: #f9f3e9;
    font-size: 2rem;
}

.user_list li {
    display: flex;
    height: 60px;
}

.user_list li button {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.new_user_list {
    margin-left: 5px;
}

.new_user_list li {
    display: flex;
    color: #f9f3e9;
    height: 30px;
    font-size: 1.2rem;
    align-items: center;
}

.new_user_list li button {
    display: flex;
    height: 12px;
    width: 4px;
    font-size: 1rem;
}

.exclusions_text {
    color: #f9f3e9;
    text-align: center;
    font-size: 1.2rem;
}

.exclusions {
    color: #f9f3e9;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.exclusions div input {
    color: #27ae60;
    width: 18px;
    height: 18px;
}

.join_group_btn {
    height: 60px;
    width: 90%;
    border-radius: 10px;
    align-items: center;
    font-size: 2rem;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 800px;
}

.start_button {
    height: 60px;
    width: 90%;
    border-radius: 10px;
    align-items: center;
    font-size: 2rem;
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    max-width: 800px;
}

button {
    align-items: center;
    background: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input {
    color: #f9f3e9;
    background: orange;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
}

.spacer {
    height: 200px;
}

footer {
    box-shadow: #333333 0 0 30px 0;
    position: fixed;
    width: 100%; /* Ensure footer takes full width */
    height: 80px;
    background: #333333;
    bottom: 0;
}

footer p {
    color: #f9f3e9;
    font-size: 3rem;
}

footer a {
    color: orange;
    text-decoration: none;
    margin: 5px;
    font-size: 1rem;
}
